.title {
    text-align:center;
    color:orange;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  }
    

.image-container {
    text-align:center;
}


.info {
    color:cornflowerblue;
    text-align:center;
}

.intro-section {
    background-image: url(./assests/images/Cash\ Cat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:100px;
}

body {
    background-image: url(./assests/images/old-paper-texture-600nw-758024551.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Times New Roman', Times, serif; 
}


.Section-1 {
    margin-left: 25%; 
    width: 70%; 
}

.Section-2 {
    margin-left: 25%; 
    width: 70%; 
}

#Skills li {
    margin-left: 5%; 
}

.WE li {
    margin-left: 5%； 
}

.Proj li {
    margin-left: 0%； 
}

